/**
 * 选择器
 */

div {}        /* 元素选择器 */
div, table {} /* 选择器分组 */

* {}   /* 通配选择器 */
#id {} /* id 选择器 */

*.class {}
.class {}
div.class {}
.warning .urgent {}   /* 包含 warning 或者 urgent 的元素 */
.warning.urgent {}    /* 同时包含 warning urgent 的元素 */
div.warning.urgent {} /* 同时包含 warning urgent 的 div 元素 */

/* 属性选择器 */
*[title] {}                    /* 所有包含 title 属性的元素 */
img[alt] {}                    /* 所有包含 alt 属性的 img 元素 */
a[href][title] {}              /* 同时包含 href 和 title 的 a 元素 */
button[name="delete"] {}       /* name 属性的值为 'delete' 的所有 button 元素 */
div[class="urgent warning"] {} /* class 属性的值为 'urgent warning' 的所有 div 元素（完全串匹配） */

div[class~="warning"] {} /* class 属性的值包含 'warning' 的所有 div 元素 */
div[class^="warning"] {} /* class 属性的值以 'warning' 开头的所有 div 元素 */
div[class$="warning"] {} /* class 属性的值以 'warning' 结尾的所有 div 元素 */
div[class*="warning"] {} /* class 属性的值包含子串 'warning' 的所有 div 元素 */
div[class|="warning"] {} /* class 属性的值等于 'warning' 或者以 'warning-' 开头的所有 div 元素 */

/* 后代选择器 */
div h1 {}      /* 所有位于 div 元素之中的 h1 元素 */
h1 > strong {} /* 作为 h1 元素子元素的所有 strong 元素 */

/* 兄弟元素选择器 */
div + h1 {} /* div 元素的下一个 h1 兄弟元素元素 */

/* 伪类选择器 */
a:link {}  /* 未访问的超链接 */
a:valid {} /* 已访问的超链接 */

/* 动态伪类 */
*:focus {}  /* 当前拥有输入焦点的元素 */
*:active {} /* 被用户输入激活的元素 */
*:hover {}  /* 鼠标指针停留的元素 */
ul:first-child {}  /* ul 元素的第一个子元素 */
h1:first-line {}   /* h1 元素的第一行 */
h1:first-letter {} /* h1 元素的首字母 */
h1:before {}       /* h1 元素之前加入样式 */
h1:after {}        /* h1 元素之后加入样式 */
*:lang(zh) {}      /* 根据语言选择 */
