doctype html
html lang="en" dir="ltr"
  head
    meta charset="utf-8"
    title slim template example
    link rel="stylesheet" type="text/css" href="slim-template-example.css"
  body
    div class="container"
      img class="logo" src="https://www.baidu.com/img/bd_logo1.png"
      div class="search-group"
        input id="search" class="search" type="text"
        button type="button" onclick="search()" 百度一下
  script type="text/javascript" src="slim-template-example.js"
